.Dokument {
    width: 50%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: yellow;
    text-align: left;
}

/* Adjust font size for smaller screens */
@media only screen and (max-width: 768px) {
    .Dokument {
        width: 90vw;
    }
}