.Form-Content {
    width: 50%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: yellow;
    padding-right: 16px;
}

.filled-basic {
    background-color: gray;
}

.filled-basic label {
    color: white;
}

#demo-check-buttons-group-label, #demo-radio-buttons-group-label {
    color: yellow;
    font-size: 24px;
}

.Group-Wrapper {
    background-color: gray;
    padding: 16px;
}