.App-Content {
    background-color: black;
    width: 50%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: yellow;
}
  
.App-Content p {
    text-align: left;
    color: yellow;
}
  
.GF-Helgrupp {
    width: 100%;
    margin: auto;
}