.Event-Wrapper {
    border: 1px solid yellow;
    text-align: left;
    max-width: 512px;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
}

.Event-Title {
    text-align: center;
}

.Event-Title h2, .Event-Title p {
    margin: 8px;
}

.Event-Desc, .Event-Location, .Event-Alcohol, .Event-Ticket {
    margin: 8px;
}

.Schema {
    width: 50%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Adjust font size for smaller screens */
@media only screen and (max-width: 768px) {
    .Schema {
        width: 90vw;
    }
}

.Yellow {
    color: yellow;
}

#filter {
    background-color: #608132;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: none;
    padding: 8px;
}