.Event-Wrapper {
    border: 1px solid yellow;
    margin: 8px;
    text-align: left;
}

.Event-Title {
    text-align: center;
}

.Event-Title h2, .Event-Title p {
    margin: 8px;
}

.Event-Desc, .Event-Location, .Event-Alcohol, .Event-Ticket {
    margin: 8px;
}

.Schema {
    background-color: black;
    width: 50%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: yellow;
}

#klasser {
    background-color: #7e1519;
    font-size: 24px;
    width: 256px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    color: yellow;
    border: none;
    padding: 8px;
}